<%=@tweet.content%>
<form method="post" action="/tweets/<%=@tweet.id%>/edit">
  <input type="hidden" name="_method" id="hidden" value="Edit Tweet">
  <input type="submit" name="edit" value="Edit Tweet" id="edit">
</form>
<form method="post" action="/tweets/:id/delete">
  <input type="hidden" name="_method" id="delete" value="Delete Tweet">
  <input type="submit" name="delete" value="Delete Tweet">
</form>
